<button class='secondary'>
	<slot />
</button>

<style>
	.secondary {
		border: 2px solid var(--color-white-50);
		border-radius: 4.3rem;
		background-color: unset;
		color: var(--color-white-50);
		padding: 1.2rem 3.2rem;
		cursor: pointer;

		font-size: 1.6rem;
		font-weight: 500;
		font-family: var(--font-header);
	}

	.secondary:active {
		transform: var(--scale-down);
		transition: var(--transition-primary);
	}

	.secondary:hover {
		background-color: var(--color-white-50);
		color: var(--color-black-90);
		transition: var(--transition-primary);
	}
</style>
