<button class='primary'>
	<slot />
</button>

<style>
	.primary {
		background-color: var(--color-white-50);
		border-radius: 4.3rem;
		border: none;
		color: var(--color-black-90);
		padding: 1.2rem 3.2rem;
		cursor: pointer;

		font-size: 1.6rem;
		font-weight: 500;
		font-family: var(--font-header);
	}

	.primary:active {
		transform: var(--scale-down);
		transition: var(--transition-primary);
	}
</style>
