<button class='primary'>
	<slot />
</button>

<style>
	.primary {
		background-color: var(--color-white-50);
		border-radius: 43px;
		border: none;
		color: var(--color-black-90);
		padding: 12px 32px;
		cursor: pointer;

		font-size: 16px;
		font-weight: 500;
		font-family: var(--font-header);
	}

	.primary:active {
		transform: scale(0.9);
		transition: all 0.3s ease-out;
	}

	.primary:hover {
		background-color: var(--color-white-50);
		color: var(--color-black-90);
		transition: all 0.3s ease-out;
	}
</style>
