@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Verdana, sans-serif;
	font-family: var(--font-paragraph);
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: var(--color-white-50);

	padding: 0 46px;
	background-color: var(--color-black-90);
}

html {
	font-size: 100%;
	scroll-behavior: smooth !important;
}

img {
	width: 100%;
	height: 100%;
}

ul {
	padding-left: 20px;
}
