@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-family: Verdana, sans-serif;
	font-family: var(--font-paragraph);
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: var(--color-white-50);

	padding: 0 4.6rem;
	background-color: var(--color-black-90);
}

img {
	width: 100%;
	height: 100%;
}

ul {
	padding-left: 2rem;
}

button {
	border: none;
	background: unset;
	padding: 0;
	border-radius: 1rem;
}

* :focus {
	outline: 2px solid var(--color-primary);
}
