---
import Section from 'layouts/Section.astro'
import Paragraph from 'theme/typography/Paragraph.astro'
---

<Section sectionId='about' title='About.' class='container'>
	<Paragraph class='paragraph'>
		+3 years of experience as a Frontend developer. I generate impact by getting involved in the design and development
		cycles, in the creation of efficient, accessible user interfaces and reusable systems. Proactive mindset and focused
		on the iteration and delivery of quality and high-impact products.
	</Paragraph>
</Section>

<style>
	.container:before {
		margin-top: 2rem;
	}

	.paragraph {
		max-width: 75ch;
	}
</style>
