---
import Section from 'layouts/Section.astro'
import Paragraph from 'theme/typography/Paragraph.astro'
---

<Section sectionId='about' title='About.' class='container'>
	<Paragraph>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi laborum aliquam reiciendis veniam nostrum, nisi
		molestias eum delectus sunt dolorum error soluta totam accusamus cumque obcaecati. Adipisci quibusdam maxime
		consequatur?
	</Paragraph>
</Section>

<style>
	.container:before {
		margin-top: 2rem;
	}
</style>
