---
import { TECHNOLOGIES_ICONS_LIST } from 'config'

import Section from 'layouts/Section.astro'
import IconOrchester from 'components/IconOrchester.astro'
---

<Section title='Main Technologies.'>
	<div class='container'>
		{TECHNOLOGIES_ICONS_LIST.map((icon) => <IconOrchester icon={icon} class='icon' />)}
	</div>
</Section>

<style>
	.container {
		display: flex;
		gap: 6px;
		flex-wrap: wrap;
	}

	.icon {
		padding: 0 10px;
	}
	.icon:hover {
		color: var(--color-primary);
		transition: all 0.2s ease-in-out;
	}
</style>
