---
import { TECHNOLOGIES_ICONS_LIST } from 'config'

import Section from 'layouts/Section.astro'
import IconOrchester from 'components/IconOrchester.astro'
---

<Section title='Main Technologies.' sectionId='experience'>
	<div class='container'>
		{TECHNOLOGIES_ICONS_LIST.map((icon) => <IconOrchester icon={icon} class='icon' />)}
	</div>
</Section>

<style>
	.container {
		display: flex;
		gap: 0.6rem;
		flex-wrap: wrap;
		align-items: center;
	}

	.icon {
		padding: 0 1rem;
	}
	.icon:hover {
		color: var(--color-primary);
		transition: all 0.1s ease-in-out;
		transform: scale(1.1);
	}
</style>
