---
import ExperienceItem from 'components/ExperienceItem.astro'
import Section from 'layouts/Section.astro'
import Technologies from 'components/sections/Technologies.astro'
import Page from 'layouts/Page.astro'
import { EXPERIENCES_LIST } from 'config'
---

<Page
	title='Experience | Rodrigo Alfonso'
	description='<strong>Rodrigo Alfonso.</strong> I currently work at Movistar, mainly focusing on new features in the "Mi Movistar application" and the frontend engineering in a component library used across all the teams at the company.'
>
	<Section sectionId='experience' class='section' title='Most recent work experience.'>
		{
			EXPERIENCES_LIST.map((experience) => (
				<ExperienceItem title={experience.title} time={experience.fromTo} items={experience.responsabilities} />
			))
		}
	</Section>

	<Technologies />
</Page>

<style>
	.section {
		display: grid;
		gap: 7.3rem;
	}
</style>
