---
import BaseHead from '@components/BaseHead.astro'
import Header from '@components/Header/index.astro'
import Footer from '@components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '@config'
---

<!DOCTYPE html>
<html lang='en'>
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<section>
				<span>This an experience item</span>
			</section>
		</main>
		<Footer />
	</body>
</html>
