---
import Page from 'layouts/Page.astro'
import Paragraph from 'theme/typography/Paragraph.astro'
import Outlined from 'theme/buttons/Outlined.astro'
import Primary from 'theme/buttons/Primary.astro'
import Title from 'theme/typography/Title.astro'
---

<Page title='About me' className='container'>
	<Title>Hello, I am <mark>Rodrigo.</mark></Title>
	<Paragraph className='paragraph'>
		+3 years of experience as a Frontend developer. I generate impact by <strong>getting involved</strong> in the design
		and development cycles, in the creation of efficient, accessible user interfaces and <strong
			>reusable systems.</strong
		>
	</Paragraph>
	<section>
		<Outlined>Download CV</Outlined>
		<Primary>Let's talk</Primary>
	</section>
</Page>

<style>
	mark {
		color: var(--color-primary);
		background-color: unset;
	}
	section {
		padding-top: 32px;
		display: flex;
		gap: 20px;
	}
	strong {
		color: var(--color-primary);
	}

	.container {
		padding: 115px 0 0 120px;
	}

	.subheading {
		padding-top: 12px;
	}

	.paragraph {
		padding-top: 32px;
		width: 100%;
		max-width: 659px;
	}
</style>
