---
import Page from 'layouts/Page.astro'
import Paragraph from 'theme/typography/Paragraph.astro'
import Outlined from 'theme/buttons/Outlined.astro'
import Primary from 'theme/buttons/Primary.astro'
import Title from 'theme/typography/Title.astro'
---

<Page title='About me' className='container'>
	<Title>Hello, I am <mark>Rodrigo.</mark></Title>
	<Paragraph className='paragraph'>
		+3 years of experience as a Frontend developer. I generate impact by <em>getting involved</em> in the design and development
		cycles, in the creation of efficient, accessible user interfaces and <em>reusable systems.</em>
	</Paragraph>
	<section>
		<Outlined>Download CV</Outlined>
		<Primary>Let's talk</Primary>
	</section>
</Page>

<style>
	.container {
		padding: 115px 0 0 120px;
	}
	mark {
		color: var(--color-primary);
		background-color: unset;
	}

	.subheading {
		padding-top: 12px;
	}

	.paragraph {
		font-size: 16px;
		padding-top: 32px;
		width: 100%;
		max-width: 659px;
	}

	em {
		font-weight: 700;
		font-style: normal;
	}

	section {
		padding-top: 32px;
		display: flex;
		gap: 20px;
	}
</style>
