---
import ProjectCard from 'components/ProjectCard.astro'
import Section from 'layouts/Section.astro'
import Page from 'layouts/Page.astro'
import { PROJECTS_LIST } from 'config'
---

<Page title='Projects' description='somee'>
	<Section sectionId='projects' title='Featured Projects.'>
		<div class='projects-container'>
			{
				PROJECTS_LIST.map((project) => (
					<ProjectCard
						title={project.title}
						description={project.description}
						demoLink={project.demoLink}
						githubLink={project.githubLink}
					/>
				))
			}
		</div>
	</Section>
</Page>

<style>
	.projects-container {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
		gap: 20px;
	}
</style>
