---
import Page from 'layouts/Page.astro'
---

<Page title='Projects page'>
	<section>
		<span>This is a project</span>
		<span>This is a project</span>
		<span>This is a project</span>
	</section>
</Page>
