---
import ProjectCard from 'components/ProjectCard.astro'
import Section from 'layouts/Section.astro'
import Page from 'layouts/Page.astro'
---

<Page title='Projects' description='somee'>
	<Section sectionId='projects' title='Featured Projects.'>
		<div class='projects-container'>
			<ProjectCard
				title='tinder clone'
				description='DEMO Tinder clone. You can match with someone and chat in realtime '
				demoLink='https://github.com/rodri-alfonso'
				githubLink='https://github.com/rodri-alfonso'
			/>
			<ProjectCard
				title='tinder clone'
				description='DEMO Tinder clone. You can match with someone and chat in realtime '
				demoLink='https://github.com/rodri-alfonso'
				githubLink='https://github.com/rodri-alfonso'
			/>
			<ProjectCard
				title='tinder clone'
				description='DEMO Tinder clone. You can match with someone and chat in realtime '
				demoLink='https://github.com/rodri-alfonso'
				githubLink='https://github.com/rodri-alfonso'
			/>
			<ProjectCard
				title='tinder clone'
				description='DEMO Tinder clone. You can match with someone and chat in realtime '
				demoLink='https://github.com/rodri-alfonso'
				githubLink='https://github.com/rodri-alfonso'
			/>
		</div>
	</Section>
</Page>

<style>
	.projects-container {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
		gap: 20px;
	}
</style>
