---
export interface Props extends astroHTML.JSX.ButtonHTMLAttributes {}
import Alert from 'components/Alert/index.astro'

const { ...props } = Astro.props
---

<button {...props} id='contact-button'>
	<slot />
	<Alert id='alert' />
</button>

<script>
	import CanvasConfetti from 'canvas-confetti'
	import type { IConfettiProps } from 'types'

	const confettiConfig: IConfettiProps = {
		particleCount: 32,
		startVelocity: 38,
		gravity: 0.5,
		spread: 70,
		ticks: 140,
		origin: {
			y: 0.3,
			x: 0.5,
		},
	}

	const buttonRef = document.getElementById('contact-button') as HTMLButtonElement
	const alertRef = document.getElementById('alert') as HTMLDialogElement

	buttonRef.addEventListener('click', () => {
		buttonRef.disabled = true
		alertRef.open = true
		CanvasConfetti(confettiConfig)

		setTimeout(() => {
			alertRef.open = false
			buttonRef.disabled = false
		}, 2000)
	})
</script>

<style></style>
