---
import Brand from 'assets/icons/brand.astro'
---

<a href='/'>
	<Brand />
</a>

<style>
	a {
		border-radius: 8px;
		padding: 7px 12px;
		display: grid;
		place-items: center;
		cursor: pointer;
	}
	a:hover {
		background-color: var(--color-primary-opacity-20);
		transition: all 0.1s ease-out;
	}
	a:active {
		transform: var(--scale-down);
	}
</style>
