---
import Link from './Link.astro'
---

<header>
	<nav>
		<Link href='/'>About</Link>
		<Link href='/experience'>Experience</Link>
		<Link href='/projects'>Projects</Link>
		<Link href='/contact'>Contact</Link>
	</nav>
</header>

<style>
	nav {
		display: flex;
		gap: 6px;
		justify-content: flex-end;
		align-items: center;
	}
</style>
