---
import Link from './Link.astro'
import Github from 'assets/icons/github.astro'
import Linkedin from 'assets/icons/linkedin.astro'
import IconLink from './IconLink.astro'
import Brand from './Brand.astro'
---

<header>
	<Brand />
	<nav>
		<Link href='/'>about</Link>
		<Link href='/experience'>experience</Link>
		<Link href='/projects'>projects</Link>
		<Link href='/contact'>contact</Link>
		<div class='divider'></div>
		<IconLink href='https://github.com/rodri-alfonso'>
			<Github />
		</IconLink>
		<IconLink href='https://www.linkedin.com/in/rodrigo-alfonso-/'>
			<Linkedin />
		</IconLink>
	</nav>
</header>

<style>
	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 60px;

		position: sticky;
		top: 0;

		background: rgba(17, 17, 17, 0.47);
		border-radius: 16px;
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(8.3px);
		-webkit-backdrop-filter: blur(8.3px);
	}
	nav {
		display: flex;
		gap: 12px;
		justify-content: flex-end;
		align-items: center;
	}
	.divider {
		height: 20px;
		border: 1px solid var(--color-primary-opacity-30);
	}
</style>
