---
import Link from './Link.astro'
import Github from 'assets/icons/github.astro'
import Linkedin from 'assets/icons/linkedin.astro'
import Brand from 'assets/brand.astro'
---

<header>
	<Link href='/#' class='link-icon brand'>
		<Brand />
	</Link>
	<nav>
		<Link href='/'>about</Link>
		<Link href='/experience'>experience</Link>
		<Link href='/projects'>projects</Link>
		<Link href='/contact'>contact</Link>
		<div class='divider'></div>
		<Link class='link-icon' href='https://github.com/rodri-alfonso' target='_blank' rel='noopener noreferrer'>
			<Github primary />
		</Link>
		<Link
			class='link-icon'
			href='https://www.linkedin.com/in/rodrigo-alfonso-/'
			target='_blank'
			rel='noopener noreferrer'
		>
			<Linkedin />
		</Link>
	</nav>
</header>

<style>
	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 60px;

		position: sticky;
		top: 0;

		background: rgba(17, 17, 17, 0.47);
		border-radius: 16px;
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(8.3px);
		-webkit-backdrop-filter: blur(8.3px);
	}
	nav {
		display: flex;
		gap: 12px;
		justify-content: flex-end;
		align-items: center;
	}
	.divider {
		height: 20px;
		border: 1px solid var(--color-primary-opacity-30);
	}

	.link-icon {
		background-color: var(--color-primary-opacity-10);
		border-radius: 8px;
		padding: 7px 12px;
		display: grid;
		place-items: center;
		cursor: pointer;
	}

	.brand {
		background-color: unset;
	}
</style>
