---
import Link from './Link.astro'
---

<header>
	<nav>
		<Link href='/'>Home</Link>
		<Link href='/experience'>Experience</Link>
		<Link href='/projects'>Projects</Link>
		<Link href=''>Let's talk</Link>
	</nav>
</header>
