---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props

const { pathname } = Astro.url
const isActive = href === pathname || href === pathname.replace(/\/$/, '')
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>

<style>
	a {
		font-family: var(--font-header);
		font-size: 16px;
		font-weight: 600;
		text-decoration: none;
		color: var(--color-white-50);
		padding: 10px 16px;
	}
	a.active {
		background-color: var(--color-white-50);
		border-radius: 8px;
		color: var(--color-black-90);
	}
</style>
