---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {
	href?: string
}

const { href, class: className, ...props } = Astro.props
const hash = href && href.substring(2)
---

<a href={href} class:list={[className]} {...props} link-id={href} id={`link-${hash}`}>
	<slot />
</a>

<style>
	a {
		font-family: var(--font-header);
		font-size: 1.4rem;
		font-weight: 400;
		text-transform: uppercase;
		text-decoration: none;
		color: var(--color-primary);
		display: grid;
		place-items: center;
		cursor: pointer;

		border-radius: 8px;
		padding: 10px 16px;
	}
	a:hover {
		background-color: var(--color-primary-opacity-20);
		transition: all 0.1s ease-out;
	}
	a:active {
		transform: var(--scale-down);
	}
	a.active {
		background-color: var(--color-primary-opacity-20);
	}
</style>
