---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props

const { pathname } = Astro.url
const isActive = href === pathname || href === pathname.replace(/\/$/, '')
---

<a href={href} class:list={[{ active: isActive }, className]} {...props}>
	<slot />
</a>

<style>
	a {
		font-family: var(--font-header);
		font-size: 14px;
		font-weight: 500;
		text-transform: uppercase;
		text-decoration: none;
		color: var(--color-primary);

		border-radius: 8px;
		padding: 10px 16px;
	}
	a:hover {
		background-color: var(--color-primary-opacity-20);
		transition: all 0.1s ease-out;
	}
	a:active {
		transform: var(--scale-down);
	}
	a.active {
		background-color: var(--color-primary-opacity-20);
	}
</style>
