---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {
	href?: string
}

const { href, class: className, ...props } = Astro.props
const hash = href && href.substring(2)
---

<a
	href={href}
	class={`py-2.5 px-4 font-bold hover:bg-gray-700 hover:text-white rounded-lg active:scale-95 transition-all uppercase ${className}`}
	{...props}
	link-id={href}
	id={`link-${hash}`}
>
	<slot />
</a>

<style is:inline>
	a.active {
		background-color: #1f2937;
		color: white;
	}
</style>
