---
export interface Props {
	title: string
	body: string
	href: string
}

const { href, title, body } = Astro.props
---

<li class='link-card'>
	<a href={href}>
		<h2 class='mt-10 bg-gray-600'>
			{title}
			<span>&rarr;</span>
		</h2>
		<p>
			{body}
		</p>
	</a>
</li>
