---
export interface Props {
	title: string
	description: string
}

const { title, description } = Astro.props
---

<head>
	<meta charset='utf-8' />
	<meta name='viewport' content='width=device-width,initial-scale=1' />
	<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
	<meta name='generator' content={Astro.generator} />

	<title>{title}</title>
	<meta name='title' content={title} />
	<meta name='description' content={description} />

	<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />

	<link
		rel='preload'
		as='style'
		href='https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800;900&display=swap'
	/>

	<link
		rel='stylesheet'
		href='https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800;900&display=swap'
		media='print'
		onload="this.media='all'"
	/>

	<noscript>
		<link
			rel='stylesheet'
			href='https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap'
		/>
	</noscript>

	<link
		rel='preload'
		as='style'
		href='https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap'
	/>

	<link
		rel='stylesheet'
		href='https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap'
		media='print'
		onload="this.media='all'"
	/>

	<noscript>
		<link
			rel='stylesheet'
			href='https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800;900&display=swap'
		/>
	</noscript>

	<slot />
</head>
