---
import Section from 'layouts/Section.astro'
import Paragraph from 'theme/typography/Paragraph.astro'
import Outlined from 'theme/buttons/Outlined.astro'
import Primary from 'theme/buttons/Primary.astro'
import Title from 'theme/typography/Title.astro'
---

<Section sectionId='about' title='' class='container'>
	<Title>Hello, I am <mark>Rodrigo.</mark></Title>
	<Paragraph class='paragraph'>
		+3 years of experience as a Frontend developer. I generate impact by <strong>getting involved</strong> in the design
		and development cycles, in the creation of efficient, accessible user interfaces and <strong
			>reusable systems.</strong
		>
	</Paragraph>
	<div class='buttons'>
		<Outlined>Download CV</Outlined>
		<Primary>Let's talk</Primary>
	</div>
</Section>

<style>
	.container {
		gap: 0;
		padding: 50px 0 100px 0;
	}
	mark {
		color: var(--color-primary);
		background-color: unset;
	}
	strong {
		color: var(--color-primary);
	}
	.buttons {
		padding-top: 32px;
		display: flex;
		gap: 20px;
	}

	.paragraph {
		padding-top: 32px;
		width: 100%;
		max-width: 659px;
	}
</style>
