---
export interface Props extends astroHTML.JSX.DialogHTMLAttributes {}

const { ...props } = Astro.props
---

<dialog {...props}>
	<section class='container'>
		<a href='/#'>About</a>
		<a href='/#experience'>Experience</a>
		<a href='/#projects'>Projects</a>
	</section>
</dialog>

<style>
	dialog {
		position: absolute;
		width: 100%;
		top: 7rem;
		border-radius: 1.2rem;

		animation-name: appear;
		animation-duration: 0.3s;

		backdrop-filter: blur(1.6rem) saturate(180%);
		-webkit-backdrop-filter: blur(1.6rem) saturate(180%);
		background-color: rgba(17, 25, 40, 0.8);
		border: 1px solid rgba(255, 255, 255, 0.125);
	}

	.container {
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 10rem 0;
		gap: 3rem;
	}

	a {
		font-family: var(--font-header);
		font-size: 3.2rem;
		font-weight: 600;
		text-transform: uppercase;
		text-decoration: none;
		color: var(--color-primary);
	}
	a:hover {
		text-decoration: underline;
	}
	a:active {
		transform: var(--scale-down);
		transition: var(--transition-primary);
	}

	@keyframes appear {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
</style>
