---
import BigText from 'theme/typography/BigText.astro'
import Paragraph from 'theme/typography/Paragraph.astro'
import Link from 'components/Header/Link.astro'
import IconOrchester from './IconOrchester.astro'

import type { IProjectCard } from 'types'

export interface Props extends IProjectCard {}

const { title, githubLink, demoLink, description } = Astro.props
---

<div class='card'>
	<div class='icons'>
		<Link class='link-icon' href={demoLink} target='_blank' rel='noopener noreferrer'>
			<IconOrchester icon='link' height='30' width='30' />
		</Link>
		<Link class='link-icon' href={githubLink} target='_blank' rel='noopener noreferrer'>
			<IconOrchester icon='github' height='30' width='30' />
		</Link>
	</div>
	<div class='content'>
		<BigText>{title}</BigText>
		<Paragraph primary class='paragraph'>{description}</Paragraph>
	</div>
</div>

<style>
	.card {
		display: flex;
		height: 22.4rem;
		flex-direction: column;
		align-items: flex-end;
		padding: 2.2rem;
		border-radius: 1.1rem;
		background-color: var(--color-blue-dark);
		border: 1px solid var(--color-blue-dark);
		overflow: hidden;
	}
	.card:hover {
		border: 1px solid var(--color-white-50);
		transition: var(--transition-primary);
	}

	.card:hover :is(.paragraph) {
		display: block;

		animation-name: appear;
		animation-duration: 0.5s;
	}

	.icons {
		display: flex;
	}
	.content {
		width: 100%;
		height: 100%;
		display: flex;
		gap: 0.8rem;
		flex-direction: column;
		justify-content: flex-end;
	}
	.paragraph {
		display: none;
	}

	.link-icon {
		padding: 0.8rem;
		cursor: pointer;
		display: grid;
		place-items: center;
	}

	@keyframes appear {
		from {
			opacity: 0;
			transform: translateY(100%);
		}
		to {
			opacity: 1;
		}
	}
</style>
