---
import BigText from 'theme/typography/BigText.astro'
import Paragraph from 'theme/typography/Paragraph.astro'
import LinkIcon from 'assets/icons/link.astro'
import Github from 'assets/icons/github.astro'
import Link from 'components/Header/Link.astro'

export interface Props {
	title: string
	githubLink: string
	demoLink: string
	description: string
}

const { title, githubLink, demoLink, description } = Astro.props
---

<div class='card'>
	<div class='icons'>
		<Link class='link-icon' href={demoLink} target='_blank' rel='noopener noreferrer'>
			<LinkIcon />
		</Link>
		<Link class='link-icon' href={githubLink} target='_blank' rel='noopener noreferrer'>
			<Github />
		</Link>
	</div>
	<div class='content'>
		<BigText>{title}</BigText>
		<Paragraph primary class='paragraph'>{description}</Paragraph>
	</div>
</div>

<style>
	.card {
		display: flex;
		height: 224px;
		flex-direction: column;
		align-items: flex-end;
		padding: 22px;
		border-radius: 11px;
		background-color: var(--color-blue-dark);
		border: 1px solid var(--color-blue-dark);
	}
	.card:hover {
		border: 1px solid var(--color-white-50);
		transition: all 0.3s ease-in-out;
	}

	.card:hover :is(.paragraph) {
		display: block;

		animation-name: appear;
		animation-duration: 0.5s;
	}

	.icons {
		display: flex;
	}
	.content {
		width: 100%;
		height: 100%;
		display: flex;
		gap: 8px;
		flex-direction: column;
		justify-content: flex-end;
	}
	.paragraph {
		display: none;
	}

	.link-icon {
		padding: 8px;
		cursor: pointer;
		display: grid;
		place-items: center;
	}

	@keyframes appear {
		from {
			opacity: 0;
			transform: translateY(100%);
		}
		to {
			opacity: 1;
		}
	}
</style>
