---
import Section from 'layouts/Section.astro'
import Mark from 'theme/typography/Mark.astro'
---

<Section sectionId='about' title='About' class='max-w-4xl'>
	<p class='text-gray-600 font-medium md:text-xl text-lg'>
		<Mark text='+4 years of experience' /> as a Frontend developer. I generate impact by <Mark
			text='getting involved'
		/> in the design and development cycles, in the creation of efficient, accessible user interfaces and
		<Mark text='reusable systems.' />
		<br />
		<br />
		I mainly focusing on UI systems and <Mark text='being the nexus' />
		of interface design and development to provide
		<Mark text='the best user experience' />

		between functionality and "look and feel".
		<br />
		<br />
		Proactive mindset and focused on the iteration and delivery of quality and
		<Mark text='high-impact products.' />
	</p>
</Section>
