---
import ExperienceItem from '../components/ExperienceItem.astro'
import Section from '../layouts/Section.astro'
import { EXPERIENCES_LIST } from '../config'
import ButttonResume from 'islands/ButtonResume'
---

<Section sectionId='experience' title='Most recent work experience' class='max-w-4xl'>
	<div class='flex items-center gap-1.5'>
		<ButttonResume client:only />
	</div>
	<div class='grid gap-16 pt-12'>
		{
			EXPERIENCES_LIST.slice(0, 3).map((experience) => (
				<ExperienceItem title={experience.title} time={experience.fromTo} items={experience.responsabilities} />
			))
		}
	</div>
</Section>
