---
import ExperienceItem from '../components/ExperienceItem.astro'
import Section from '../layouts/Section.astro'
import Link from '../components/Header/Link.astro'
import { EXPERIENCES_LIST } from '../config'
---

<Section sectionId='experience' title='Most recent work experience' class='max-w-4xl'>
	<div class='flex items-center gap-1.5'>
		<Link
			target='_blank'
			href={'/CV_RODRIGO_ALFONSO.pdf'}
			class='bg-gray-800 hover:bg-white hover:text-black border-2 border-gray-800 text-white font-semibold'
		>
			<p>check resume</p>
		</Link>
	</div>
	<div class='grid gap-16 pt-12'>
		{
			EXPERIENCES_LIST.map((experience) => (
				<ExperienceItem title={experience.title} time={experience.fromTo} items={experience.responsabilities} />
			))
		}
	</div>
</Section>
