---
import Section from '../layouts/Section.astro'
---

<Section title='' class='h-screen relative w-full gap-20' sectionId='hero'>
  <div class='absolute top-1/4 grid gap-4 md:left-2 left-6'>
    <h1 class='font-black text-gray-800 md:text-8xl text-7xl'>
      Hello, I am <mark class='text-gray-800 bg-transparent'>Rodrigo.</mark>
    </h1>
    <h2 class='text-gray-500 md:text-3xl text-2xl'>Frontend Engineer · UI Developer</h2>
  </div>
</Section>
