---
import { TECHNOLOGIES_ICONS_LIST } from '../config'
import Section from '../layouts/Section.astro'
import IconOrchester from '../components/IconOrchester.astro'
import Chip from 'components/Chip.astro'
---

<Section title='Main Technologies' sectionId='experience'>
	<div class='flex gap-7 pt-4 flex-wrap items-center text-gray-500'>
		{
			TECHNOLOGIES_ICONS_LIST.map((icon) => (
				<div class='grid gap-3 hover:text-gray-800'>
					<IconOrchester
						icon={icon}
						class='px-2.5 grid place-items-center transition-all hover:scale-110 [&>*]:w-10 [&>*]:h-10'
					/>
					<Chip label={icon} />
				</div>
			))
		}
	</div>
</Section>
