---
export interface Props extends astroHTML.JSX.HTMLAttributes {
	primary?: boolean
	weight?: 'regular' | 'medium'
}

const { primary, weight = 'regular', ...props } = Astro.props

const setWeightClass = () => {
	return {
		regular: 'regular',
		medium: 'medium',
	}[weight]
}
---

<p class:list={[{ primary }, { [setWeightClass()]: Boolean(weight) }, props.class]} {...props}>
	<slot />
</p>

<style>
	p {
		font-family: var(--font-paragraph);
		font-size: 1.8rem;
	}
	.primary {
		color: var(--color-primary);
	}
	.medium {
		font-weight: 500;
	}
	.regular {
		font-weight: 400;
	}
</style>
