---
export interface Props {
	primary?: boolean
	className?: string
}

const { primary, className } = Astro.props
---

<p class={`${className ?? ''} ${primary ? 'primary' : ''}`}>
	<slot />
</p>

<style>
	p {
		font-family: var(--font-paragraph);
		font-size: 14px;
		font-weight: 500;
		color: var(--color-white-50);
	}

	strong {
		font-weight: 700;
	}

	.primary {
		color: var(--primary);
	}
</style>
