---
export interface Props {
	primary?: boolean
	className?: string
	weight?: 'regular' | 'medium'
}

const { primary, className, weight = 'regular' } = Astro.props

const setWeightClass = () => {
	return {
		regular: 'regular',
		medium: 'medium',
	}[weight]
}
---

<p class={`${primary ? 'primary' : ''} ${setWeightClass()} ${className ?? ''}`}>
	<slot />
</p>

<style>
	p {
		font-family: var(--font-paragraph);
		font-size: 18px;
	}
	.primary {
		color: var(--color-primary);
	}
	.medium {
		font-weight: 500;
	}
	.regular {
		font-weight: 400;
	}
</style>
