---
export interface Props extends astroHTML.JSX.HTMLAttributes {}

const { ...props } = Astro.props
---

<h2 {...props}>
	<slot />
</h2>

<style>
	h2 {
		font-family: var(--font-header);
		font-size: 2rem;
		font-weight: 600;
		color: var(--color-white-50);
	}
</style>
