---
import Header from 'components/Header/index.astro'
import Footer from 'components/Footer.astro'
import Head from 'components/Head.astro'
import 'styles/index.css'

export interface Props extends astroHTML.JSX.HTMLAttributes {
	title: string
	description?: string
}

const { title, description = 'some description', ...props } = Astro.props
---

<!DOCTYPE html>
<html lang='en'>
	<Head title={title} description={description} />
	<body>
		<main class={props.class}>
			<Header />
			<section>
				<slot />
			</section>
			<Footer />
		</main>
		<style>
			main {
				max-width: 1300px;
				display: grid;
				gap: 80px;
			}

			section {
				width: 100%;
				max-width: 1100px;
				margin: 0 auto;
			}
		</style>
	</body>
</html>
