---
import Header from 'components/Header/index.astro'
import Footer from 'components/Footer.astro'
import Head from 'components/Head.astro'
import 'styles/index.css'

export interface Props {
	title: string
	description?: string
	className?: string
}

const { title, description = 'some description', className } = Astro.props
---

<!DOCTYPE html>
<html lang='en'>
	<Head title={title} description={description} />
	<body>
		<Header />
		<main class={className ?? ''}>
			<slot />
		</main>
		<Footer />
		<style>
			main {
				padding-top: 40px;
			}
		</style>
	</body>
</html>
