---
import Header from 'components/Header/index.astro'
import Head from 'components/Head.astro'
import 'styles/index.css'

export interface Props extends astroHTML.JSX.HTMLAttributes {
	title: string
	description: string
}

const { title, description, ...props } = Astro.props
---

<!DOCTYPE html>
<html lang='en'>
	<Head title={title} description={description} />
	<body>
		<main class={props.class}>
			<Header />
			<slot />
		</main>
		<style>
			main {
				max-width: 130rem;
				margin: 0 auto;
				display: grid;
				gap: 7rem;
				padding-bottom: 20rem;
			}
		</style>
	</body>
</html>
