---
import Subheading from 'theme/typography/Subheading.astro'

export interface Props extends astroHTML.JSX.HTMLAttributes {
	title: string
}

const { title, ...props } = Astro.props
---

<section class={props.class}>
	<Subheading>{title}</Subheading>
	<slot />
</section>

<style>
	section {
		display: grid;
		gap: 54px;
	}
	/* 
	@media (max-width: 800px) {
		section {
			padding: 0;
		}
	} */
</style>
