---
import Subheading from 'theme/typography/Subheading.astro'

export interface Props extends astroHTML.JSX.HTMLAttributes {
	title: string
	sectionId?: string
}

const { title, sectionId, ...props } = Astro.props
---

<section id={sectionId} class={props.class}>
	{title && <Subheading>{title}</Subheading>}
	<slot />
</section>

<style>
	section {
		display: grid;
		gap: 54px;
	}
</style>
